.header-component-b {
  .header__top {
    background-color: var(--top-menu);

    * {
      color: var(--top-menu-font-color);
    }
  }

  .header__bottom {
    @apply py-8;

    .nav-is-open & {
      @apply w-full mt-12 pt-32;

      position: absolute;
      top: 0;
      background-color: var(--mobile-menu);
      height: 100vh;
      overflow-y: scroll;

      a {
        font-size: var(--mobile-menu-font);
        color: var(--menu-font-color-mobile);
      }
    }

    .header__branding {
      @apply mx-auto block absolute;

      left: 0;
      right: 0;
      max-width: var(--branding-max-w-m);

      .nav-is-open & {
        top: 5px;
      }

      @media (min-width: 1024px) {
        max-width: var(--branding-max-w);
      }
    }

    nav {
      .nav-is-open & {
        @apply block w-full;
      }
    }
  }

  // Primary Navigation
  .header_nav_b {
    @media (min-width: 1024px) {
      @apply flex items-center;
    }

    .menu-item {
      @apply py-3 relative;

      .nav-is-open & {
        @apply ml-0 py-0 py-2 border-t-2 border-black;
      }

      a,
      i,
      svg {
        @apply uppercase;

        font-size: var(--mobile-menu-font);
        color: var(--menu-font-color-mobile);

        @media (min-width: 1024px) {
          font-size: var(--menu-font);
          color: var(--menu-font-color);

          &:hover {
            color: var(--a-hover-color);
          }
        }
      }

      // Sub-menu
      .sub-menu {
        @apply hidden;

        .nav-is-open & {
          @apply mt-2;
        }

        @media (min-width: 1024px) {
          @apply absolute bg-white px-4;

          top: 100%;
          left: -20px;
          min-width: 350px;
          z-index: 10;
        }
      }

      &:hover {
        @media (min-width: 1024px) {
          .sub-menu {
            @apply block;
          }
        }
      }
    }
  }

  .nav_left {
    @media (min-width: 1024px) {
      @apply justify-start;

      .menu-item {
        @apply mr-3;
      }
    }
  }

  .nav_right {
    @media (min-width: 1024px) {
      @apply justify-end;

      .menu-item {
        @apply ml-3;
      }
    }
  }
}
