.header-component-a {
  @apply relative;

  z-index: 1000;
  transition: all ease 0.5s;

  .header__top {
    background-color: var(--top-menu);

    span {
      color: var(--top-menu-font-color);

      @apply font-meta-font;
    }
  }

  .header__bottom {
    @apply bg-white;

    .nav-is-open & {
      @apply w-full mt-12;

      position: fixed;
      top: 2.5rem;
      background-color: var(--mobile-menu);
      height: 100%;
      overflow-y: scroll;
      padding-bottom: 20vh;

      a {
        font-size: var(--mobile-menu-font);
        color: var(--menu-font-color-mobile);
      }
    }

    .header__branding {
      @apply mx-auto block;

      max-width: var(--branding-max-w-m);
      transition: all ease 1s;

      @media (min-width: 1024px) {
        @apply ml-0;

        max-width: var(--branding-max-w);
      }
    }

    nav {
      .nav-is-open & {
        @apply block w-full;
      }
    }
  }

  // Primary Navigation
  .header_nav_a {
    @media (min-width: 1024px) {
      @apply flex justify-between items-center;
    }

    .menu-item {
      @apply ml-5 py-3 relative;

      .nav-is-open & {
        @apply ml-0 py-0 py-2 border-t-2 border-black;
      }

      a {
        @apply font-nav-font;
      }

      a:not(.button),
      i,
      svg {
        @apply uppercase;

        font-size: var(--mobile-menu-font);
        color: var(--menu-font-color-mobile);

        @media (min-width: 1024px) {
          font-size: var(--menu-font);
          color: var(--menu-font-color);

          &:hover {
            color: var(--a-hover-color);
          }
        }
      }

      // Sub-menu
      .sub-menu {
        @apply hidden;

        @media (min-width: 1024px) {
          @apply p-4;

          background-color: var(--sub-bg-color-mobile);

          * {
            color: var(--sub-font-color-mobile);
          }
        }

        .nav-is-open & {
          @apply mt-2;
        }

        @media (min-width: 1024px) {
          @apply absolute;

          top: 100%;
          left: -20px;
          min-width: 350px;
          z-index: 10;
        }
      }

      &:hover {
        @media (min-width: 1024px) {
          .sub-menu {
            @apply block;
          }
        }
      }
    }
  }
}

// Header Fixed Position
.header-fixed-a {
  @apply fixed w-full;

  transition: all ease 1s;
  margin-top: 0;

  .scrolled & {
    @media (min-width: 1024px) {
      margin-top: -60px;

      .header__branding {
        max-width: var(--branding-max-w-m);
      }

      .menu-item {
        @apply py-2;
      }
    }
  }
}
