.header-component-a {
  @apply relative;

  .header__top {
    background-color: var(--top-menu);

    * {
      color: var(--top-menu-font-color);
    }
  }

  .header__bottom {
    .nav-is-open & {
      @apply w-full mt-12;

      position: absolute;
      top: 0;
      background-color: var(--mobile-menu);
      height: 100vh;
      overflow-y: scroll;

      a {
        font-size: var(--mobile-menu-font);
        color: var(--menu-font-color-mobile);
      }
    }

    .header__branding {
      @apply mx-auto block;

      max-width: var(--branding-max-w-m);

      @media (min-width: 1024px) {
        @apply ml-0;

        max-width: var(--branding-max-w);
      }
    }

    nav {
      .nav-is-open & {
        @apply block w-full;
      }
    }
  }

  // Primary Navigation
  .header_nav_a {
    @media (min-width: 1024px) {
      @apply flex justify-between items-center;
    }

    .menu-item {
      @apply ml-5 py-3 relative;

      .nav-is-open & {
        @apply ml-0 py-0 mb-4;
      }

      a,
      i,
      svg {
        @apply uppercase;

        font-size: var(--mobile-menu-font);
        color: var(--menu-font-color-mobile);

        @media (min-width: 1024px) {
          font-size: var(--menu-font);
          color: var(--menu-font-color);
        }
      }

      // Sub-menu
      .sub-menu {
        @apply hidden;

        @media (min-width: 1024px) {
          @apply absolute bg-white;

          top: 100%;
          left: -20px;
          min-width: 350px;
          z-index: 10;
        }
      }

      &:hover {
        @media (min-width: 1024px) {
          .sub-menu {
            @apply block;
          }
        }
      }
    }
  }
}
