.header-component-b {
  @apply relative;

  z-index: 1000;

  .header__top {
    background-color: var(--top-menu);

    .meta-contact {
      a,
      span {
        @apply font-meta-font;

        color: var(--top-menu-font-color);
      }
    }
  }

  .header__bottom {
    @apply bg-white;

    transition: all ease 0.5s;

    .nav-is-open & {
      @apply w-full pt-32;

      position: fixed;
      top: 2.5rem;
      background-color: var(--mobile-menu);
      height: 100%;
      overflow-y: scroll;
      padding-bottom: 20vh;

      a {
        font-size: var(--mobile-menu-font);
        color: var(--menu-font-color-mobile);
      }
    }

    .header__branding {
      @apply mx-auto block absolute;

      left: 0;
      right: 0;
      max-width: var(--branding-max-w-m);
      margin-top: -15px;
      transition: all ease 1s;
      z-index: 10;

      .nav-is-open & {
        top: 30px;
      }

      @media (min-width: 1024px) {
        margin-top: var(--logo-margin-top);
        max-width: var(--branding-max-w);
      }
    }

    nav {
      .nav-is-open & {
        @apply block w-full;
      }
    }
  }

  // Primary Navigation
  .header_nav_b {
    @media (min-width: 1024px) {
      @apply flex items-center;
    }

    .menu-item {
      @apply py-3 relative;

      .nav-is-open & {
        @apply ml-0 py-0 py-2 border-t-2 border-black;
      }

      a {
        @apply font-nav-font;
      }

      a,
      i,
      svg {
        font-size: var(--mobile-menu-font);
        color: var(--menu-font-color-mobile);

        @media (min-width: 1024px) {
          font-size: var(--menu-font);
          color: var(--menu-font-color);

          &:hover {
            color: var(--menu-hover-font-color);
          }
        }
      }

      // Sub-menu
      .sub-menu {
        @apply hidden;

        @media (min-width: 1024px) {
          background-color: var(--sub-bg-color-mobile);

          * {
            @apply font-meta-font;

            color: var(--sub-font-color-mobile);
          }
        }

        .nav-is-open & {
          @apply mt-2;
        }

        @media (min-width: 1024px) {
          @apply absolute px-4;

          top: 100%;
          left: -20px;
          min-width: 350px;
          z-index: 10;
        }
      }

      &:hover {
        @media (min-width: 1024px) {
          .sub-menu {
            @apply block;
          }
        }
      }
    }
  }
}

// Header Fixed Position
.header-fixed-b {
  @apply fixed w-full;

  transition: all ease 1s;
  margin-top: 0;

  .scrolled & {
    @media (min-width: 1024px) {
      margin-top: -60px;

      .header__branding {
        max-width: var(--branding-max-w-m);
      }

      .menu-item {
        @apply py-2;
      }

      .header__bottom {
        @apply py-2;
      }
    }
  }
}

.logged-in.admin-bar.nav-is-open .header-component-b .header__bottom {
  margin-top: 40px;
}
