body.nav-is-open {
  overflow-y: hidden;
}

@media (min-width: 1024px) {
  .sub-menu .menu-item {
    margin-left: 0 !important;
  }
}

.header__bottom {
  padding: var(--top-header-padding) 0 var(--bottom-header-padding) 0;
}

.menu-item a {
  text-transform: var(--nav-text-transform);
}

.header__top {
  .meta-contact {
    a,
    span {
      @apply font-meta-font;

      font-size: var(--meta_font_size);
      text-transform: var(--meta-text-transform);
      color: var(--top-menu-font-color);
    }
  }
}

.nav_left {
  @apply justify-start;

  @media (min-width: 1024px) {
    .menu-item + .menu-item {
      margin-left: clamp(var(--left-nav-margin-half), 1vw, var(--left-nav-margin));
    }
  }

  @media (max-width: 1023px) {
    @apply ml-0;
  }
}

.nav_right {
  @apply justify-end;

  @media (min-width: 1024px) {
    .menu-item:not(:last-child) {
      margin-right: clamp(var(--right-nav-margin-half), 1vw, var(--right-nav-margin));
    }
  }

  @media (max-width: 1023px) {
    @apply ml-0;
  }
}
