// Main Container
.container {
  @apply w-full mx-auto block px-2;

  max-width: 1500px;
}

// hamburger Icon
.nav-control {
  @apply bg-white relative ml-2 -mt-1;

  width: 30px;
  height: 5px;

  .nav-is-open & {
    @apply bg-transparent;
  }

  span {
    @apply bg-white;

    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-duration: 0.32s;

    &::before,
    &::after {
      content: "";
      transition-duration: 0.32s;
      height: 5px;

      @apply absolute bg-white left-0 right-0 w-full h-1;
    }

    &::before {
      top: -10px;
      transition: top 0.2s ease-in 0.25s, opacity 0.1s ease-in;

      // Navigation Open
      .nav-is-open & {
        top: -5px;
        transition: top 0.2s ease-out, opacity 0.1s ease-out 0.12s;
      }
    }

    &::after {
      bottom: -10px;
      transition: bottom 0.2s ease-in 0.25s, transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);

      // Navigation Open
      .nav-is-open & {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.2s ease-out, transform 0.32s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
      }
    }

    // Navigation Open
    .nav-is-open & {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
}
