body {
  overflow-x: hidden;
}

// Main Container
.container {
  @apply w-full mx-auto block px-15;

  max-width: 1500px;
}

// Social media
.section--social {
  background-color: var(--social-bg-clr);
}

.social-icons {
  @apply flex justify-center items-center flex-wrap;

  a {
    @apply mx-2;

    svg {
      width: 40px;
      height: 40px;
      fill: var(--social-icon-clr);
    }
  }
}

// Force Text White
.text-white {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  body,
  span,
  strong,
  a:not([class]),
  small {
    color: white;
  }
}

// hamburger Icon
.nav-control {
  @apply bg-white relative ml-2 -mt-1;

  width: 30px;
  height: 5px;

  .nav-is-open & {
    @apply bg-transparent;
  }

  span {
    @apply bg-white;

    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-duration: 0.32s;

    &::before,
    &::after {
      content: "";
      transition-duration: 0.32s;
      height: 5px;

      @apply absolute bg-white left-0 right-0 w-full h-1;
    }

    &::before {
      top: -10px;
      transition: top 0.2s ease-in 0.25s, opacity 0.1s ease-in;

      // Navigation Open
      .nav-is-open & {
        top: -5px;
        transition: top 0.2s ease-out, opacity 0.1s ease-out 0.12s;
      }
    }

    &::after {
      bottom: -10px;
      transition: bottom 0.2s ease-in 0.25s, transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);

      // Navigation Open
      .nav-is-open & {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.2s ease-out, transform 0.32s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
      }
    }

    // Navigation Open
    .nav-is-open & {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
}

/// Sub-menu Control Arrow
.drop-menu {
  @apply ml-2;

  transition: all ease 1s;
  transform: rotate(0deg);

  @media (max-width: 1023px) {
    @apply absolute;

    right: 15px;

    i {
      font-size: 24px !important;
    }
  }

  &:hover {
    color: var(--a-hover-color);
    cursor: pointer;
  }
}

.activated {
  transform: rotate(180deg);
}

// Removal of Home meny item on Desktop
.menu-item-190 {
  @media (min-width: 1024px) {
    @apply hidden;
  }
}

//Slick Arrows
//Slick Arrows
.slick-arrow {
  @apply absolute;

  top: 48%;
  z-index: 10;

  i {
    @apply text-white text-5xl;
  }
}

.prev {
  left: 6%;
}

.next {
  right: 6%;
}
