h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-2 leading-tight;
}

h1 {
  @apply font-heading-one;

  font-size: var(--h1-mobile);
  color: var(--h1-color);
  text-transform: var(--h1-transform);
  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-spacing);

  .section-brm--hero & {
    @apply font-heading-hero;

    font-size: var(--h1-hero-mobile);
    text-transform: var(--h1-hero-transform);
    color: var(--h1-hero-color);
    text-shadow: var(--h1-text-shadow);
  }

  @media (min-width: 1024px) {
    font-size: var(--h1-desk);

    .section-brm--hero & {
      font-size: var(--h1-hero-desk);
    }
  }
}

h2 {
  @apply font-heading-two;

  font-size: var(--h2-mobile);
  color: var(--h2-color);
  text-transform: var(--h2-transform);
  line-height: var(--h2-line-height);
  letter-spacing: var(--h2-letter-spacing);

  @media (min-width: 1024px) {
    font-size: var(--h2-desk);
  }
}

h3 {
  @apply font-heading-three;

  font-size: var(--h3-mobile);
  color: var(--h3-color);
  text-transform: var(--h3-transform);
  line-height: var(--h3-line-height);
  letter-spacing: var(--h3-letter-spacing);

  @media (min-width: 1024px) {
    font-size: var(--h3-desk);
  }
}

h4 {
  @apply font-heading-four;

  font-size: var(--h4-mobile);
  color: var(--h4-color);
  text-transform: var(--h4-transform);
  line-height: var(--h4-line-height);
  letter-spacing: var(--h4-letter-spacing);

  @media (min-width: 1024px) {
    font-size: var(--h4-desk);
  }
}

h5 {
  @apply font-heading-five;

  font-size: var(--h5-mobile);
  color: var(--h5-color);
  text-transform: var(--h5-transform);
  line-height: var(--h5-line-height);
  letter-spacing: var(--h5-letter-spacing);

  @media (min-width: 1024px) {
    font-size: var(--h5-desk);
  }
}

h6 {
  @apply font-heading-six;

  font-size: var(--h6-mobile);
  color: var(--h6-color);
  text-transform: var(--h6-transform);
  line-height: var(--h6-line-height);
  letter-spacing: var(--h6-letter-spacing);

  @media (min-width: 1024px) {
    font-size: var(--h6-desk);
  }
}

p,
ul:not([class]),
span {
  margin-bottom: 15px;
  line-height: 1.5;
}

ul:not([class]) {
  list-style: disc;
}

ol:not([class]) {
  list-style: decimal;
}

ol:not([class]),
ul:not([class]) {
  padding-left: 2.5rem;
  margin-bottom: 15px;
}

p,
ul:not([class]),
span,
body {
  @apply font-body;

  font-size: var(--p-mobile);
  color: var(--p-color);
  text-transform: var(--p-transform);

  @media (min-width: 1024px) {
    font-size: var(--p-desk);
  }

  &:nth-last-child(1) {
    @apply mb-0;
  }
}

b,
strong {
  @apply font-strong leading-none mb-2;

  font-size: var(--s-mobile);
  color: var(--s-color);
  text-transform: var(--s-transform);

  @media (min-width: 1024px) {
    font-size: var(--s-desk);
  }
}

a {
  @apply font-anchor leading-none;

  font-size: var(--a-mobile);
  color: var(--a-color);
  text-transform: var(--a-transform);
  transition: all ease 0.5s;
  opacity: 1;

  &:hover {
    color: var(--a-hover-color);
  }

  @media (min-width: 1024px) {
    font-size: var(--a-desk);
  }
}

small {
  @apply font-small leading-none;

  font-size: var(--small-mobile);
  color: var(--small-color);
  text-transform: var(--small-transform);

  @media (min-width: 1024px) {
    font-size: var(--small-desk);
  }
}

address {
  font-style: normal;
}
