.button {
  @apply text-white uppercase font-button text-center block mb-6 text-center;

  border-radius: var(--border-radius);
  padding: var(--padding-y) var(--padding-x);
  font-size: var(--button-mobile);
  line-height: 1;

  &:hover {
    @apply text-white;
  }

  @media (min-width: 1024px) {
    @apply inline-block;

    font-size: var(--button-desk);

    &:nth-last-child(1) {
      @apply mb-0;
    }
  }

  .header & {
    border-radius: 0;
  }
}

.button--primary {
  border: var(--border-width) var(--border-type) var(--border-color);
  background-color: var(--button-prime);
  border-width: var(--border-width);
  color: var(--font-color);
  height: 55px;

  &:hover {
    background-color: var(--button-sec);
  }
}

.button--secondary {
  border: var(--border-width-sec) var(--border-type-sec) var(--border-color-sec);
  background-color: var(--button-sec);
  color: var(--font-color-sec);

  &:hover {
    background-color: var(--button-prime);
  }
}

.button--third {
  border: var(--border-width-ter) var(--border-type-ter) var(--border-color-ter);
  background-color: var(--button-ter);
  color: var(--font-color-ter);

  &:hover {
    background-color: var(--button-sec);
  }
}

.button--fourth {
  border: var(--border-width-qua) var(--border-type-qua) var(--border-color-qua);
  background-color: var(--button-qua);
  color: var(--font-color-qua);

  &:hover {
    background-color: var(--button-prime);
  }
}
