input,
optgroup,
select,
textarea {
  @apply border-1 border-primary4 w-full px-2;

  height: 50px !important;
  font-size: var(--p-mobile) !important;

  ::placeholder {
    font-size: var(--p-mobile) !important;
  }
}

label {
  @apply font-body uppercase;

  font-size: var(--p-mobile);
}

textarea {
  min-height: 200px;
}

form {
  .button {
    @apply w-auto bg-primary1 border-2 border-white px-12 py-6;

    line-height: 0 !important;
  }
}

.ginput_counter {
  @apply hidden;
}

.gform_wrapper.gravity-theme .ginput_container_date input {
  @apply w-full;
}

.gform_wrapper .top_label li.gfield.gf_left_half,
.gform_wrapper .top_label li.gfield.gf_right_half {
  vertical-align: baseline !important;
  color: rgb(153, 153, 153);
}
