.slick-list,
.slick-track {
  @apply h-full;
}

.slick-dots {
  @apply flex flex-row items-start justify-center mt-4;

  li {
    @apply mx-2;
  }

  button {
    @apply bg-white border-white border-2 w-6 h-6;

    font-size: 0;
    border-radius: 100%;
  }

  .slick-active {
    button {
      @apply bg-transparent border-white;
    }
  }
}

.property__gallery--nav,
.section-col-split {
  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }

  .prev,
  .next {
    @apply px-4 py-2 bg-white border-1 border-black;

    border-radius: 100%;

    &:hover {
      cursor: pointer;
    }

    i {
      color: black;
      font-size: 18px;
      line-height: 0;
    }
  }
}
