.onsale {
  background: var(--primary-color) !important;
}

.woocommerce-shop .products,
.related .products {
  @apply flex justify-start items-start flex-row flex-wrap;

  padding: 0 !important;

  .product {
    padding: 0 10px !important;
    margin: 0 !important;
    width: 25% !important;

    @media (max-width: 1200px) {
      width: 33% !important;
    }

    @media (max-width: 1023px) {
      width: 50% !important;
      padding: 0 !important;
      margin-bottom: 45px !important;
    }

    @media (max-width: 768px) {
      width: 100% !important;
    }
  }
}

.price {
  color: var(--tertiary-color) !important;

  bdi,
  span {
    color: var(--tertiary-color) !important;
    font-size: var(--h5-mobile) !important;
  }
}

.variations,
.alg-product-input-fields-table {
  width: 100% !important;

  tbody {
    tr {
      td {
        display: block !important;
      }
    }
  }
}

.product_meta {
  span {
    display: block !important;

    span {
      display: inline-block !important;
    }
  }

  .posted_in {
    display: none !important;
  }
}

.related,
.woocommerce-info {
  @apply border-t-2 border-primary1 pt-12 mt-12;
}

.woocommerce-message {
  border-color: var(--primary-color) !important;

  @media (max-width: 1023px) {
    @apply flex justify-start flex-col;

    a {
      margin-bottom: 15px !important;
    }
  }
}

///Cart
.woocommerce-cart-form__cart-item {
  .product-thumbnail {
    img {
      display: block !important;
      padding: 0 !important;
      margin: 0 auto !important;
      width: 50% !important;
    }
  }
}

// billing
.woocommerce-checkout {
  .col-1,
  .col-2 {
    display: block !important;
    width: 100% !important;
  }

  .col-1 {
    @apply border-b-2 border-primary1 pb-12 mb-12;
  }

  .col-2 {
    padding: 0 !important;
  }
}

.woocommerce-checkout-payment {
  background: var(--quaternary-color) !important;
}

.wc_payment_methods {
  .wc_payment_method {
    .input-radio {
      width: auto;
      height: auto;
    }

    label {
      img {
        display: inline-block;
      }
    }
  }
}

.coupon,
.actions {
  .button {
    @apply text-white uppercase font-button text-center block mb-6 text-center;

    border-radius: var(--border-radius);
    width: 100% !important;
    height: 50px !important;
    border: var(--border-width) var(--border-type) var(--border-color) !important;
    background-color: var(--button-prime) !important;
    border-width: var(--border-width) !important;
    color: var(--font-color) !important;
    padding: var(--padding-y) var(--padding-x) !important;
    font-size: var(--button-mobile) !important;

    &:hover {
      background-color: var(--button-sec);
    }

    @media (min-width: 1024px) {
      width: inherit !important;
      font-size: var(--button-desk) !important;
    }
  }
}

.woo-button {
  margin: 30px 0 !important;
}

.product_type_variable,
.product_type_simple,
.single_add_to_cart_button,
.wc-forward,
.woo-button {
  border-radius: var(--border-radius) !important;
  line-height: 1 !important;
  padding: var(--padding-y) var(--padding-x) !important;

  @media (min-width: 1024px) {
    font-size: var(--button-desk) !important;
  }
}

#coupon_code {
  min-width: 200px !important;
}

#place_order {
  border-radius: var(--border-radius) !important;
}

.single_add_to_cart_button {
  font-size: var(--button-mobile) !important;
  height: 55px !important;

  @media (min-width: 1024px) {
    font-size: var(--button-desk) !important;
  }
}

.product_type_variable,
.product_type_simple,
.single_add_to_cart_button,
.wc-forward,
.woo-button,
#place_order {
  border: var(--border-width) var(--border-type) var(--border-color) !important;
  background-color: var(--button-prime) !important;
  border-width: var(--border-width) !important;
  color: var(--font-color) !important;
  height: 55px !important;

  &:hover {
    background-color: var(--button-sec) !important;
  }
}

.woocommerce-ordering {
  @media (max-width: 1023px) {
    width: 100%;
  }
}

.checkout-button {
  @media (max-width: 768px) {
    font-size: 16px !important;
  }
}

.woocommerce-loop-product__title {
  @apply font-heading-four;

  font-size: var(--h4-mobile) !important;
  color: var(--h4-color) !important;
  text-transform: var(--h4-transform) !important;
  line-height: var(--h4-line-height) !important;
  letter-spacing: var(--h4-letter-spacing) !important;

  @media (min-width: 1024px) {
    font-size: var(--h4-desk) !important;
  }
}
