.footer-a {
  .meta {
    a,
    p {
      @apply font-footer-font;

      font-size: var(--footer-font-size);
      color: var(--footer-font-color);
    }
  }

  .copyright * {
    @apply font-copyright-font uppercase;

    color: var(--copyright-font-color);
    font-size: var(--copyright-font-size);
  }

  .footer-nav-a {
    @apply mb-4;

    li {
      @apply mx-4;

      a {
        text-transform: var(--footer_nav_text_transform);
      }
    }
  }
}
