:root {
  --white: #ffffff;
  --primary-2: #C84C23;
  --primary-1: #ffffff;
}

body {
  color: white;
  background-color: var(--primary-1);
}

.login h1 a {
  width: 100%;
  max-width: 200px;
  height: 125px;
  margin-bottom: 0px;
  background-image: url("/app/uploads/2021/05/logo.svg");
  background-size: 100%;
}

.login form {
  background-color: var(--primary-2);
  margin-top: 5px;
  border: 0px;
}

.login label {
  color: var(--white);
}

.login #nav a,
.login #backtoblog a,
.privacy-policy-link {
  font-size: 14px;
  color: var(--primary-2);
}

.login #nav a:hover,
.login #backtoblog a:hover,
.privacy-policy-link:hover {
  color: white;
}

.message {
  color: var(--primary-2);
}

.reg_passmail {
  color: white;
}

.privacy-policy-link {
  text-decoration: none;
}
