/**
* This injects Tailwind's base styles, which is a combination of
* Normalize.css and some additional base styles.
*
* You can see the styles here:
* https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
*
* If using `postcss-import`, use this import instead:
*
* @import "tailwindcss/preflight";
*/
@tailwind base;

/** Import everything from autoload */
@import "./autoload/**/*";

/**
* Import npm dependencies
*
* Prefix your imports with `~` to grab from node_modules/
* @see https://github.com/webpack-contrib/sass-loader#imports
*/
// @import "~some-node-module";
@import "~@fancyapps/fancybox/dist/jquery.fancybox.css";
@import "~slick-carousel/slick/slick.scss";

/**
* This injects any component classes registered by Tailwind plugins.
*
* If using `postcss-import`, use this import instead:
*
* @import "tailwindcss/components";
*/
@tailwind components;

// Common
@import "common/global";
@import "common/type";

//Components
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "components/header/header-component-a";
@import "components/header/header-component-b";

//Blocks
@import "blocks/static-hero";

//Wordpress Default Styling
@import "wordpress/blocks";
@import "wordpress/default";
@import "wordpress/gravityforms";
@import "wordpress/acf";

/**
* This injects all of Tailwind's utility classes, generated based on your
* config file.
*
* If using `postcss-import`, use this import instead:
*
* @import "tailwindcss/utilities";
*/
@tailwind utilities;

/**
* Here you would add any custom utilities you need that don't come out of the
* box with Tailwind.
*
* Example :
*
* .bg-pattern-graph-paper { ... }
* .skew-45 { ... }
*
* Or if using a preprocessor or `postcss-import`:
*
* @import "utilities/background-patterns";
* @import "utilities/skew-transforms";
*/
