.hero-item {
  background-size: cover !important;
}

.section-brm--hero {
  .container {
    @apply flex justify-center items-center;
  }

  .hero-item,
  .container {
    min-height: var(--hero-height-mob);

    @media (min-width: 1024px) {
      min-height: var(--hero-height-desk);
    }
  }

  .hero_content {
    background-color: var(--hero-clr);

    @media (max-width: 1023px) {
      @apply px-15;
    }
  }

  .slick-dots {
    position: relative;
    top: -90px;
  }
}

// Hero Video Element
.hero__video {
  @apply w-full h-full;

  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

// Two Col Hero
.rv-hero--col {
  @apply relative;

  .hero_content {
    @apply absolute w-full;

    background-color: var(--rv-color--hero);
    max-width: 500px;
    z-index: 100;
    left: 0;
    height: 100%;

    @media (max-width: 1023px) {
      @apply relative;

      order: 2;
      max-width: 100%;
    }

    .child-slide {
      //
    }
  }

  .hero_image_field {
    width: 80%;

    @media (max-width: 1023px) {
      @apply w-full;

      order: 1;
    }

    .parent-slide {
      .hero_image {
        min-height: var(--rv-hero-col-mob);

        @media (min-width: 1024px) {
          min-height: var(--rv-hero-col-desk);
        }
      }
    }
  }

  .slick-arrow {
    top: 100%;

    @media (max-width: 1023px) {
      top: 85%;
    }

    i {
      font-size: 34px;
    }
  }

  .prev {
    right: 100px;
    left: auto;
  }
}

// Rv Hero Block
.rv-hero {
  .container {
    @apply flex justify-start items-center;

    min-height: var(--rv-height-mob);

    @media (min-width: 1024px) {
      min-height: var(--rv-height-desk);
    }

    .rv-graphic {
      @apply mx-auto block mt-4;

      max-width: 450px;

      @media (min-width: 1024px) {
        @apply absolute;

        right: 0;
        bottom: 0;
      }
    }

    .hero_content {
      background-color: var(--rv-color);
    }
  }
}

.remove_hero_nav .slick-dots {
  display: none;
}
